# Copy this file to .env and fill in your TiDB / Neon / Supabase connection string
DATABASE_URL="DATABASE_URL="mysql://4XSSjhsXwaS5AqD.root:KbpfuuEa7AInmfX1@gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com:4000/sys?sslaccept=strict""
